:root{
    --font-family-HN: 'Helvetica Neue';
    --font-family-NM: 'Neue Machina';

    --secondary-color-thin-light: #17C7B4;
    --secondary-color-medium-light: #2CCCBB;
    --secondary-color-heavy-light: #3FD1C1;
    --secondary-color-thin-dark: #00AF9D;
    --secondary-color-medium-dark: #009F8F;
    --secondary-color-heavy-dark: #009182;
    --green-color: #16C100;
    --red-color: #E44700;
    --color-head1: var(--secondary-color);
}

.form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group input[type="date"],
.form-group textarea,
.form-group select {
    font-family: var(--font-family-HN);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    color: var(--primary-color);
    border-radius: 0px;
    border: solid 1px #c1c1c1;
}

.form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group input[type="date"],
.form-group select {
    height: 41px;
}

.form-group select::-ms-expand {
    display: none;
}

.form-group textarea::placeholder,
.form-group input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c1c1c1;
    opacity: 1;
    /* Firefox */
}

.form-group textarea:-ms-input-placeholder,
.form-group input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c1c1c1;
}

.form-group textarea::-ms-input-placeholder,
.form-group input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c1c1c1;
}



/* Info: New Modifications from 23rd Feb */
.color-red{
    color: var(--red-color);
}
.opacity-1{
    opacity: 1;
}
.openclose-status.inopen {
    color: var(--green-color);
}

.openclose-status.inclose {
    color: var(--red-color);
}

.form-control:disabled,
.form-control.disabled,
.form-control[readonly] {
    background-color: #F3F3F3;
    opacity: 1;
    color: #8B8B8B !important;
    cursor:not-allowed;
}
.mp.btn,
.mp.btn.btn-sm{
    font-family: var(--font-family-HN);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    border-radius: 4px;
}
.mp.btn.btn-lg{
    font-family: var(--font-family-HN);
    font-size: 16px !important;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    line-height: 1.6 !important;
    padding: 8px 16px;
}
.mp.btn.btn-primary {
    color: #fff;
    border: solid 1px #00c1ad;
    background-color: #00c1ad;
}
.mp.btn.btn-outline {
    color: #727272;
    border: solid 1px #727272;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 650px;
    }
}